/* START OF COVER */

body {
  font-family: Montserrat, sans-serif;
}

.text-block-title {
  font-weight: 900;
}



/* END OF COVER */


/* START OF ARTICLE */





/* END OF ARTICLE */


/* START OF SLIDE */





/* END OF SLIDE */


/* START OF WORK */





/* END OF WORK */


/* START OF TILES */





/* END OF TILES */


/* START OF FOOTER */
footer {
  background-color: #d3d3d336;
}

footer p {
  font-size: 75%;
  display: inline;
}

#address {
  color: #004085b8;
  list-style: none;
}
/* END OF FOOTER */

.row {
  margin: 0;
}
