/* Globals */
body {
    font-family: Montserrat, sans-serif;
}

.text-block-title {
    font-weight: 900;
}

.boldest {
    font-weight: 900;
}

.bold {
    font-weight: 300;
}
/* End of globals */

/* START OF COVER */


/* END OF COVER */


/* START OF ARTICLE */

.left-article {
    min-height: 300px;
    background-image: url("../images/namphuong-van-20566-unsplash.jpg");
    background-size: cover;
}

.left-article-text {
    font-size: 0.8rem;
    font-weight: 900;
}

.right-article {
    position: relative;
    right: 7.5%;
}

.right-article-text {
    background-color: white;
}




/* END OF ARTICLE */


/* START OF SLIDE */


.slide .row:first-of-type{
    min-height: 400px;
}


/* END OF SLIDE */


/* START OF WORK */
.number, .hover, .list div h5 {
  font-weight: 900;
}

.number{
  color: lightgray;
  font-size: 3.5rem;
}

.hover {
  color: gray;
}

/* END OF WORK */


/* START OF TILES */
#tiles {
  z-index: 1;
  position: absolute;
}

#back_shape {
  background-color: #334a63;
  height: 80vh;
  -webkit-clip-path: polygon(100% 10%, -75% 100%, 100% 100%);
  clip-path: polygon(100% 10%, -75% 100%, 100% 100%);
}

#tile {
  background-color: #f8f9fafa;
  max-width: 100%;
  box-sizing: border-box;
}

#tiles p {
  display: inline;
  color: darkgray;
  font-family: Quiksand, Montserrat, sans-serif;
  font-size: 70%;
  line-height: 2rem;
}

#tiles input {
  width: 7rem;
  color: darkgray;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: darkgray;
  background: none;
}

#inputGroupSelect03 {
  width: 7rem;
  font-size: 70%;
  background-color: #f8f9fafa;
}

#submit {
  background: linear-gradient(to bottom right, orange, yellow);
  width: 7rem;
  color: white;
  border: none;
}

/* END OF TILES */


/* START OF FOOTER */
footer {
  background-color: #d3d3d336;
}

footer p {
  font-size: 75%;
  display: inline;
}

#small_logo {
  width: 1.5rem;
  height: 1.5rem;
}

#address {
  color: #004085b8;
  list-style: none;
}
/* END OF FOOTER */

.row {
  margin: 0;
}
